[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.0.1"
djangorestframework = "*"
django-decouple = "*"
pillow = "*"
django-import-export = "*"
flake8 = "*"
django-cors-headers = "*"
django-filter = "*"
django-ckeditor = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
